<nav>
    <a href="{{ .Site.BaseURL }}">
        Sabayon Linux
    </a>

    <ul>
        <li><a href="https://forum.sabayon.org/">Forum</a></li>
        <li><a href="/chat/">Support</a></li>
        <li><a href="https://wiki.sabayon.org/">Wiki</a></li>
        <li><a href="/download">Download</a></li>
        <li><a href="https://bugs.sabayon.org/">Bugs</a></li>
        <li><a href="https://packages.sabayon.org/">Packages</a></li>
        <li>
            <a href="https://sabayon.github.io/community-website/">
                <abbr title="Sabayon Community Repositories">SCR</abbr>
            </a>
        </li>
        <li><a href="/blog/">Blog</a></li>
    </ul>
    <div class="more-links"></div>
</nav>
