<nav>
    <a href="{{ .Site.BaseURL }}">
        Sabayon Linux
    </a>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="/donate/">DONATE</a></li>
                <li><a href="https://forum.sabayon.org/">Forum</a></li>
                <li><a href="/chat/">Support</a></li>
                <li><a href="https://wiki.sabayon.org/">Wiki</a></li>
                <li><a href="/download"> Download</a></li>
                <li><a href="https://bugs.sabayon.org/"> Bugs</a></li>
                <li><a href="https://packages.sabayon.org/">Packages</a></li>
                <li><a href="https://sabayon.github.io/community-website/">SCR</a></li>
                <li><a href="/blog/"> Blog</a></li>
            </ul><!-- .nav.navbar-nav.pull-right -->
        </div><!-- .collapse.navbar-collapse.navbar-ex1-collapse -->
    </div><!-- .container -->
</nav><!-- .navbar.navbar-default.navbar-fixed-top -->
